{% extends 'CFAHubSharedBundle:Shared:layout.html.twig' %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-primary">Notifications</h4>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Schedule Updated
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Schedule Request Approved
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Performance Review Rating
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            New Task
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h4 class="text-primary">Tasks</h4>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Schedule Updated
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Schedule Request Approved
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            Performance Review Rating
                        </li>
                        <li class="list-group-item">
                            <div class="pull-right">
                                <a href="#" style="color: #ccc;">&times;</a>
                            </div>
                            New Task
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {#{% if is_granted('ROLE_CFA_ADMIN') %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-cfa">
                        <div class="panel-heading">
                            Unfinished Tasks
                        </div>
                        <table class="table table-hover">
                            {% for task in unfinished_tasks %}
                                <tr>
                                    <td>{{ task.action }}</td>
                                    <td>{{ task.person }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}#}

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12">
                <h4 class="text-primary">CEM Scores</h4>
                {# 1st row cem #}
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Be "REMARK"able</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-danger" style="margin-bottom: 15px;">
                                {{ icon('arrow-down') }}
                                73%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 75%</h4>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Overall Satisfaction</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-success">
                                {{ icon('arrow-up') }}
                                80%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 79%</h4>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Execute OE</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-danger">
                                {{ icon('arrow-down') }}
                                52%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 64%</h4>
                    </div>
                </div>
                <br>
                {# 2nd row cem #}
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Deliver 2MS</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-danger" style="margin-bottom: 15px;">
                                {{ icon('arrow-down') }}
                                63%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 68%</h4>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Active ECM</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-success">
                                {{ icon('arrow-up') }}
                                70%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 61%</h4>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="text-primary text-center">Order Accuracy</h6>
                        <h1 class="text-center" style="margin-top: 0px;">
                            <span class="text-success">
                                {{ icon('arrow-up') }}
                                98%
                            </span>
                        </h1>
                        <h4 class="text-center">Goal: 98%</h4>
                    </div>
                </div>
            </div>
        </div>

        {# weekly focus and kudos #}
        <div class="row">
            {# weekly focus #}
            <div class="col-lg-6">
                <h4 class="text-primary">Weekly Focus</h4>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Front Counter
                            </h5>
                            <div class="list-group-item-text">
                                Communicate with guests waiting when multi-tasking
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Kitchen
                            </h5>
                            <div class="list-group-item-text">
                                Increase portion size of chicken (Starts with fileting properly)
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Drive-Thru
                            </h5>
                            <div class="list-group-item-text">
                                Work together as a team to ensure drive through efficiency
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {# kudos #}
            <div class="col-lg-6">
                <h4 class="text-primary">Kudos To...</h4>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Courtney Dickerson
                            </h5>
                            <div class="list-group-item-text">
                                Excellent leadership in the kitchen, and continued to set a standard for cleanliness in the kitchen.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Jennifer Mast
                            </h5>
                            <div class="list-group-item-text">
                                Amazing job being the anchor position on FC. She made sure guests were recognized and welcomed right away.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5 class="list-group-item-heading">
                                Brenda Zane
                            </h5>
                            <div class="list-group-item-text">
                                Great understanding of our guests REMARKABLE experience is MOST IMPORTANT. She is always looking to help others make this happen.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {# schedule #}
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body panel-body-red">
                <center>
                    <p style="font-size: 2.2em; text-transform: uppercase;">{{ 'now'|date('l') }}</p>
                    <p style="font-size: 7.5em; margin-top: -80px; margin-bottom: -45px;">{{ 'now'|date('d') }}</p>
                    <p style="font-size: 1.6em;">{{ 'now'|date('F, Y') }}</p>
                    <button class="btn btn-primary-simple">
                        Shift Change Requests
                        <span class="badge" style="margin-left: 10px;">3</span>
                    </button>
                </center>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="background-color: #333; width: 10px; height: 70px; margin-top: -57px; float: right; border-radius: 5px;"></div>
                <div style="background-color: #333; width: 10px; height: 70px; margin-top: -57px; border-radius: 5px;"></div>
                My Schedule
            </div>
            <div class="panel-body">
                <div class="calendar hidden-print">
                    <header>
                        <h3 class="month"></h3>
                        <a class="btn-prev fa fa-angle-left" href="#"></a> <a class="btn-next fa fa-angle-right" href="#"></a>
                    </header>
                    <table>
                        <thead>
                            <tr>
                              <td>Sun</td>
                              <td>Mon</td>
                              <td>Tue</td>
                              <td>Wed</td>
                              <td>Thu</td>
                              <td>Fri</td>
                              <td>Sat</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{ calendar|raw }}
                            {#<tr>
                                <td date-month="12" date-day="1">1</td>
                                <td date-month="12" date-day="2">2</td>
                                <td date-month="12" date-day="3">3</td>
                                <td date-month="12" date-day="4">4</td>
                                <td date-month="12" date-day="5">5</td>
                                <td date-month="12" date-day="6">6</td>
                                <td date-month="12" date-day="7">7</td>
                            </tr>
                            <tr>
                                <td date-month="12" date-day="8">8</td>
                                <td date-month="12" date-day="9">9</td>
                                <td date-month="12" date-day="10">10</td>
                                <td date-month="12" date-day="11">11</td>
                                <td date-month="12" date-day="12">12</td>
                                <td date-month="12" date-day="13">13</td>
                                <td date-month="12" date-day="14">14</td>
                            </tr>
                            <tr>
                                <td date-month="12" date-day="15">15</td>
                                <td date-month="12" date-day="16">16</td>
                                <td date-month="12" date-day="17">17</td>
                                <td date-month="12" date-day="18">18</td>
                                <td date-month="12" date-day="19">19</td>
                                <td date-month="12" date-day="20">20</td>
                                <td date-month="12" date-day="21">21</td>
                            </tr>
                            <tr>
                                <td date-month="12" date-day="22">22</td>
                                <td date-month="12" date-day="23">23</td>
                                <td date-month="12" date-day="24">24</td>
                                <td date-month="12" date-day="25">25</td>
                                <td date-month="12" date-day="26">26</td>
                                <td date-month="12" date-day="27">27</td>
                                <td date-month="12" date-day="28">28</td>
                            </tr>
                            <tr>
                                <td date-month="12" date-day="29">29</td>
                                <td date-month="12" date-day="30">30</td>
                                <td date-month="12" date-day="31">31</td>
                                <td date-month="12" date-day="0">0</td>
                                <td date-month="12" date-day="0">0</td>
                                <td date-month="12" date-day="0">0</td>
                                <td date-month="12" date-day="0">0</td>
                            </tr>#}
                        </tbody>
                    </table>
                    <div class="list">
                        <div class="day-event" date-month="12" date-day="4">
                            <a href="#" class="close fa fa-remove"></a>
                            <h2 class="title">Lorem ipsum 1</h2>
                            <p class="date">2014-12-4</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et diam faucibus sapien fermentum sollicitudin. Proin quis dictum leo, sed pharetra quam.</p>
                            <label class="check-btn">
                                <input type="checkbox" class="save" id="save" name="" value=""/>
                                <span>Save to personal list!</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
