{% extends 'CFAHubSharedBundle:Shared:layout.html.twig' %}

{% block page_title %}
    People
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <div class="pull-right">
            <a href="#" class="btn btn-primary btn-default btn-sm">
                {{ icon('remove') }}
                Remove
            </a>
        </div>
        <li>
            <a href="{{ path('cfa_hub_people_index') }}">
                All People
            </a>
        </li>
        {% if person is defined %}
            <li>
                <a href="{{ path('cfa_hub_people_show', {'person': person.id}) }}">
                    {{ person }}
                </a>
            </li>
        {% endif %}
        <li class="active">
            {% if person is defined %}
                Edit
            {% else %}
                Add
            {% endif %}
            Person
        </li>
    </div>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.username) }}
                        {% if form.password is defined %}
                            {{ form_row(form.password) }}
                        {% endif %}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.birthday) }}
                        {{ form_row(form.picture) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(form.position) }}
                        {{ form_row(form.hireDate) }}
                        {% if form.active is defined %}
                            {{ form_row(form.active) }}
                        {% endif %}
                        <hr>
                        {{ form_row(form.roles) }}
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 20px;">
            <button type="submit" class="btn btn-primary btn-lg">
                {{ icon('check') }}
                Save
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
