{% extends 'CFAHubSharedBundle:Shared:layout.html.twig' %}

{% block page_title %}
    People
{% endblock %}

{% block content %}
    {# management #}
    {% for person in management %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-cfa">
                <div class="panel-body">
                    <a href="{{ path('cfa_hub_people_show', {'person': person.id}) }}">
                        <center>
                            <div style="display: block;
                            width: 150px;
                            height: 150px;
                            background: #E6E7ED;
                            border-radius: 75px;
                            -webkit-border-radius: 75px;
                            background-image: url(
                                {% if person.imageLocation != null %}
                                    {{ asset(person.imageLocation) }}
                                {% else %}
                                    {{ person.imageLocation }}
                                {% endif %}
                            );
                            background-position:50% 50%;
                            background-repeat:no-repeat;
                            background-size: cover;">
                            </div>

                            <h4 class="dark-grey">
                                {{ person }}
                                <br>
                                <small>{{ person.position }}</small>
                            </h4>
                        </center>
                    </a>
                    <hr style="margin: 30px 0px 10px 0px;" class="cfa-hr">
                    <p class="light-grey">
                        {{ icon('phone-square') }}
                        {{ person.phone }}
                    </p>
                    <hr style="margin: 10px 0px;" class="cfa-hr">
                    <p class="light-grey" style="max-width: 100%; overflow: hidden; white-space: nowrap;">
                        {{ icon('envelope-square') }}
                        {{ person.email }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

    {# team members #}
    {% for person in team_members %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-cfa">
                <div class="panel-body">
                    <a href="{{ path('cfa_hub_people_show', {'person': person.id}) }}">
                        <center>
                            <div style="display: block;
                            width: 150px;
                            height: 150px;
                            background: #E6E7ED;
                            border-radius: 75px;
                            -webkit-border-radius: 75px;
                            background-image: url(
                                {% if person.imageLocation != null %}
                                    {{ asset(person.imageLocation) }}
                                {% else %}
                                    {{ person.imageLocation }}
                                {% endif %}
                            );
                            background-position:50% 50%;
                            background-repeat:no-repeat;
                            background-size: cover;">
                            </div>

                            <h4 class="dark-grey">
                                {{ person }}
                                <br>
                                <small>{{ person.position }}</small>
                            </h4>
                        </center>
                    </a>
                    <hr style="margin: 30px 0px 10px 0px;" class="cfa-hr">
                    <p class="light-grey">
                        {{ icon('phone-square') }}
                        {{ person.phone }}
                    </p>
                    <hr style="margin: 10px 0px;" class="cfa-hr">
                    <p class="light-grey" style="max-width: 100%; overflow: hidden; white-space: nowrap;">
                        {{ icon('envelope-square') }}
                        {{ person.email }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
