<div class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="clearfix text-center">
            <a href="#" class="navbar-brand">
                <img src="{{ asset('bundles/cfahubshared/images/ChickFilA-Clemson-Seneca-White.png') }}" style="max-width: 250px; max-height: 100px; padding: 5px;">
            </a>
        </div>

        {# <div class="sidebar-search">
            <input type="text" name="search" placeholder="Search...">
        </div> #}

        <ul class="nav" id="side-menu">
            <li style="border-bottom: 1px solid #454952;">
                <a href="#" id="js-user-info">
                    <div class="pull-right" style="margin-top: 10px;">
                        <span style="font-size: 26px;" id="circle-down">
                            {{ icon('chevron-circle-down') }}
                        </span>
                        <span style="font-size: 26px; display: none;" id="circle-left">
                            {{ icon('chevron-circle-left') }}
                        </span>
                    </div>
                    <strong style="font-size: 1.2em;">
                        {{ app.user }}
                    </strong>
                    <br>
                    <p class="light-grey">
                        {{ app.user.position }}
                    </p>
                </a>
            </li>

            <li class="js-user-links" style="border-bottom-color: #434346; background-color: #434346; display: none;">
                <a href="#">
                    My Profile
                </a>
            </li>
            <li class="js-user-links" style="border-bottom-color: #434346; background-color: #434346; display: none;">
                <a href="/logout">
                    Logout
                </a>
            </li>

            <li>
                <a href="{{ path('cfa_hub_people_dashboard') }}">
                    {{ icon('dashboard') }}
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('cfa_hub_people_index') }}">
                    {{ icon('users') }}
                    People
                </a>
            </li>
            <li>
                <a href="#">
                    {{ icon('calendar') }}
                    Schedule
                </a>
            </li>
            {% if is_granted('ROLE_CFA_MARKETING') %}
                <li>
                    <a href="{{ path('cfa_hub_marketing_index') }}">
                        {{ icon('briefcase') }}
                        Marketing
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
