{% extends 'CFAEventRegisterBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Manage
{% endblock %}

{% block page_breadcrumb %}
    <ol class="breadcrumb-custom">
        <li>
            <a href="{{ path('cfa_event_manage_index') }}">
                Manage Event Register
            </a>
        </li>
        <li class="active">
            Event Details
        </li>
    </ol>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CFAEventRegisterBundle/Resources/public/js/highcharts.js'
        '@CFAEventRegisterBundle/Resources/public/js/highcharts-more.js'
        '@CFAEventRegisterBundle/Resources/public/js/charts.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-cfa">
                <div class="panel-heading">
                    <h3>
                        <a href="{{ path('cfa_event_manage_event_edit', {'event': event.id}) }}" class="btn btn-default btn-sm pull-right">
                            {{ icon('edit') }}
                        </a>
                        {{ event }}
                    </h3>
                </div>
            </div>
            <div class="row">
                {# sales #}
                <div class="col-md-6">
                    <div class="panel panel-cfa">
                        <div class="panel-heading">
                            <h3>
                                <p class="pull-right">${{ total_sales|number_format(2, '.', ',') }}</p>
                                Sales
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Check Average</th>
                                    <td>
                                        {% if event.transactions|length %}
                                            ${{ (total_sales / event.transactions|length)|number_format(2, '.', ',') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Highest Sale</th>
                                    <td>${{ highest_sale|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <th>Lowest Sale</th>
                                    <td>${{ lowest_sale|number_format(2, '.', ',') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                {# transactions #}
                <div class="col-md-6">
                    <div class="panel panel-cfa">
                        <div class="panel-heading">
                            <h3>
                                <p class="pull-right">{{ event.transactions|length }}</p>
                                Transactions
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Average Item Count</th>
                                    <td>{{ avg_item_count|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <th>Highest Item Count</th>
                                    <td>{{ highest_item_count }}</td>
                                </tr>
                                <tr>
                                    <th>Lowest Item Count</th>
                                    <td>{{ lowest_item_count }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {# transaction timeline #}
            <div class="panel panel-cfa">
                <div class="panel-heading">
                    <h3>Transaction Timeline</h3>
                </div>
                <div class="panel-body" style="min-height: 390px;">

                </div>
            </div>
        </div>

        {# transaction breakdown #}
        <div class="col-sm-4">
            <div class="panel panel-cfa">
                <div class="panel-heading">
                    <h3>Transaction Breakdown</h3>
                </div>
                <div class="panel-body">
                    <div id="menu-chart" data-chart="{{ item_breakdown|json_encode() }}" style="max-width: 100%;">

                    </div>
                    <table class="table table-striped table-bordered">
                        {% for item, count in item_breakdown %}
                            <tr>
                                <th>{{ item }}</th>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# all transactions #}
    <div class="panel panel-cfa">
        <div class="panel-heading">
            <h3>All Transactions</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>Items</th>
                    <th>Total</th>
                    <th>Paid</th>
                </thead>
                {% for transaction in event.transactions %}
                    <tr>
                        <td>{{ transaction.createdAt|date('g:ia') }}</td>
                        <td>
                            {% for item in transaction.items %}
                                {%- if not loop.first -%},{% endif %}
                                {{ item -}}
                            {% endfor %}
                        </td>
                        <td>${{ transaction.total|number_format(2, '.', ',') }}</td>
                        <td>${{ transaction.moneyRecieved|number_format(2, '.', ',') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
